/* 전체 */
.header-all {
  display:flex; 
  margin: 0 20px;
  height: 40px;
  top: 0; /* 상단에 고정 */
  position: sticky; /* 스크롤 시에도 고정되도록 설정 */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  font-family: 'Freesentation';
  justify-content: space-between;
}

/* 로고 이미지 */
.logo-image {
  margin-top: 10px;
}

/* 메뉴 및 로그인 전체 */
.header-nav-menu {
  width:auto;
  display:flex; 
  align-items:center; /* 수직 중앙 정렬 */
}

/* 메뉴만 */
.nav-menu-container {
  display: flex;
  position: fixed; /* 부모플렉스박스 무시 */
  left: 50%; /*가운데 정렬하고 보정*/
  transform: translate(-50%);
  align-items: center;
}

/* 메뉴 각각 */
.nav-menu-content {
  margin: 0 50px;
  font-weight: 600;
  font-size: 16px;
}
  /* 메뉴 호버 */
  .nav-menu-content:hover {
      color: #6841ea;;
      transition: color 0.3s;
  }

/* 메뉴 검색 아이콘 */
.search-icon {
  width: 17px; 
  height: 17px; 
  display: block; 
}

/* 검색 클릭 시 모달 배경 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 위에서 내려오도록 설정 */
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
  padding-top: 69.9px;
}
  
/* 모달 박스 */
.modal-box {
  background: white;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  animation: slideDown 0.2s ease-in-out;
  text-align: center;
  position: relative;
}

  /* 모달 내려오는 애니메이션 효과 */
  @keyframes slideDown {
      from {
          transform: translateY(-100%); /* 화면 위쪽에서 시작 */
      }
      to {
          transform: translateY(0); /* 원래 위치로 도착 */
      }
  }

/* 검색창 전체 */
.nav-menu-search-content {
  display: flex;
  justify-content: center;
}

/* 검색 전체 */
.nav-menu-search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* 검색 */
.nav-menu-search-text {
  font-weight: 800;
  font-size: 20px;
  width: 70%;
  border: none; 
  border-bottom: 2px solid #1F2933; 
  outline: none; 
}

/* 검색 버튼 */
.search-button {
  background: none; 
  border: none; 
  cursor: pointer; 
  padding: 0;
}
  .nav-menu-search-text::placeholder {
      color: #1f29332d;
  }

  .search-button:hover {
      color: #6841ea;
  }

/* 유저 전체 */
.header-login {
  float: right;
  display: flex;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

/* 로그인, 마이페이지, 로그아웃 각각 */
.login-content {
  margin: 0 10px;
}