/* 전체 */
.header-all {
    display:flex; 
    margin: 0 20px;
    height: 70px;
    top: 0; /* 상단에 고정 */
    position: sticky; /* 스크롤 시에도 고정되도록 설정 */
    background-color: white;
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
    font-family: 'Freesentation';
    justify-content: space-between;
}
  
/* 로고 이미지 */
.logo-image {
    margin-top: 10px;
}
  
/* 메뉴 및 로그인 전체 */
.header-nav-menu {
    width:auto;
    display:flex; 
    align-items:center; /* 수직 중앙 정렬 */
}
  
/* 메뉴만 */
.nav-menu-container {
    display: flex;
    position: fixed; /* 부모플렉스박스 무시 */
    left: 50%; /*가운데 정렬하고 보정*/
    transform: translate(-50%);
    color: #1F2933;
    align-items: center;
}
  
/* 메뉴 각각 */
.nav-menu-content {
    margin: 0 100px;
    font-weight: 800;
    font-size: 18px;
}
    /* 메뉴 호버 */
    .nav-menu-content:hover {
        color: #006EB9; /* 마우스를 올렸을 때 글씨 색상 변경 */
        transition: color 0.3s; /* 전환 효과 */
    }
  
/* 메뉴 검색 아이콘 */
.search-icon {
    width: 17px; 
    height: 17px; 
    display: block; 
}

/* 검색 클릭 시 모달 배경 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 위에서 내려오도록 설정 */
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
    padding-top: 69.9px;
}
    
/* 모달 박스 */
.modal-box {
    background: white;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    border-radius: 8px;
    animation: slideDown 0.2s ease-in-out;  /* 내려오는 애니메이션 */
    text-align: center;
    position: relative;
}
  
    /* 모달 내려오는 애니메이션 효과 */
    @keyframes slideDown {
        from {
            transform: translateY(-100%); /* 화면 위쪽에서 시작 */
        }
        to {
            transform: translateY(0); /* 원래 위치로 도착 */
        }
    }

/* 검색창 전체 */
.nav-menu-search-content {
    display: flex;
    justify-content: center;
}

/* 검색 전체 */
.nav-menu-search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* 검색 */
.nav-menu-search-text {
    font-weight: 800;
    font-size: 20px;
    width: 70%;
    border: none; 
    border-bottom: 2px solid #1F2933; 
    outline: none; 
}

/* 검색 버튼 */
.search-button {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0;
}
    .nav-menu-search-text::placeholder {
        color: #1f29332d; /* 플레이스홀더 텍스트 색상 */
    }
  
    .search-button:hover {
        color: #0056b3;
    }

    .tag-container {
        display: flex;
        gap: 10px;
        margin-top: 20px;
      }
      
      .tag-item {
        padding: 5px 10px; 
        background-color: #f1f1f1; 
        border: 1px solid #ddd; 
        border-radius: 15px; 
        font-size: 14px; 
        font-weight: 700;
        transition: background-color 0.3s ease;
      }
      
      .tag-item:hover {
        background-color: #ddd; /* 호버 시 배경색 변경 */
      }    

/* 유저 전체 */
.header-login {
    float: right;
    display: flex;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap; /* 줄 바꿈 방지 */
}
  
/* 로그인, 마이페이지, 로그아웃 각각 */
.login-content {
    margin: 0 10px;
    color: #1f2933a1;
}
